@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}

a {
  text-decoration: none;
  display: inline-block;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

button {
  outline: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

span {
  display: inline-block;
}

input {
  outline: none;
  border: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.col-6 {
  width: 50%;
}

.col-4 {
  width: 33.33%;
}

.col-3 {
  width: 25%;
}

.title {
  color: #222426;
  font-size: 50px;
  font-weight: 300;
  line-height: 55px;
  letter-spacing: -0.8px;
}

.subtitle {
  color: #454754;
  font-size: 20px;
  font-weight: 300;
  line-height: 27px;
  letter-spacing: -0.2px;
}

.btn {
  color: #292200;
  background-color: #FF7A00;
  border-radius: 16px;
  padding: 16px 40px;
}

.btn-grey {
  color: rgba(34, 36, 38, 0.8);
  font-size: 16px;
  background-color: #f1f1f1;
  border-radius: 7px;
  padding: 12px 16px;
}

.header {
  margin: 0 16px;
}

.header__burger {
  position: fixed;
  display: none;
  width: 50px;
  height: 50px;
  background: #FF7A00;
  border-radius: 50%;
  z-index: 10;
  cursor: pointer;
}

.header__burger-line {
  position: relative;
  margin: 50% 0 0 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  height: 3px;
  width: 30px;
  background-color: #FFFFFF;
}

.header__burger-line::before, .header__burger-line::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background: #FFFFFF;
}

.header__burger-line::before {
  top: -8px;
}

.header__burger-line::after {
  top: 8px;
}

.header__burger-line.active {
  background-color: #FF7A00;
}

.header__burger-line.active::before {
  top: 0;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header__burger-line.active::after {
  top: 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header__content {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 20px;
}

.header__logo {
  padding-top: 10px;
}

.header__middle {
  padding-top: 10px;
}

.header__right {
  height: 38px;
}

.header__item {
  margin: 0 10px;
}

.header__link {
  position: relative;
  font-size: 16px;
  color: #454754;
  margin: 0 12px;
}

.header__link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background: #FF7A00;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header__link:hover::before {
  width: 100%;
}

.header__link:hover {
  color: #FF7A00;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header__language {
  overflow-y: hidden;
  height: 29px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.header__language::before {
  position: absolute;
  content: '';
  width: 7px;
  height: 7px;
  border: 2px solid #222426;
  border-top: none;
  border-left: none;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  right: 25px;
  top: 40%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform-origin: top;
      -ms-transform-origin: top;
          transform-origin: top;
}

.header__language__item {
  font-size: 16px;
  color: #454754;
  padding: 10px 45px 0 0;
}

.header .header__language.drop {
  height: auto;
  overflow-y: auto;
}

.header .header__language.drop::before {
  -webkit-transform: rotate(-133deg);
      -ms-transform: rotate(-133deg);
          transform: rotate(-133deg);
}

.header .header__language__item.order {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.hero {
  margin: 94px 0 150px 0;
}

.hero__content {
  overflow-x: hidden;
}

.hero__title {
  margin: 250px 0 24px 0;
}

.hero__item {
  padding: 0 120px 0 64px;
}

.hero__subtitle {
  margin-bottom: 48px;
}

.hero__img {
  max-width: 944px;
  max-height: 697px;
  border-radius: 15px;
}

.hero__btn {
  font-size: 20px;
  color: #222426;
  width: 230px;
  height: 62px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.hero__btn:hover {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scale(1.03);
      -ms-transform: scale(1.03);
          transform: scale(1.03);
}

.mobile {
  margin-bottom: 120px;
}

.mobile__content {
  -webkit-perspective: 1000px;
          perspective: 1000px;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 56px 64px;
  width: 100%;
  height: 566px;
  background: #FF7A00;
  border-radius: 15px;
}

.mobile__title {
  max-width: 825px;
}

.mobile__list {
  padding: 24px 0 62px 0;
}

.mobile__item {
  position: relative;
  padding: 12px 0 16px 46px;
  color: #222426;
  font-size: 20px;
  letter-spacing: -0.2px;
}

.mobile__item::before {
  position: absolute;
  content: '';
  width: 48px;
  height: 48px;
  background: url(../img/mobile/bullet-check-icon-1.svg) no-repeat;
  top: 3px;
  left: 0;
}

.mobile__img {
  position: absolute;
  top: -37px;
  right: 15px;
  width: 444px;
  height: 649px;
  -webkit-animation: float 4s ease-in-out infinite;
          animation: float 4s ease-in-out infinite;
}

.mobile__apple {
  width: 144px;
  height: 48px;
}

.mobile__google {
  margin-left: 16px;
  width: 168px;
  height: 48px;
}

@-webkit-keyframes float {
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  50% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

@keyframes float {
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  50% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

.services {
  margin-bottom: 50px;
}

.services__content {
  text-align: center;
}

.services__title {
  padding: 32px 0 24px 0;
  color: #222426;
  font-size: 30px;
  line-height: 35px;
  letter-spacing: -1px;
}

.services__subtitle {
  color: #454754;
  font-size: 17px;
  line-height: 24px;
}

.services__description {
  text-align: center;
  margin-top: 60px;
  color: #73757e;
  font-size: 11px;
  line-height: 14px;
}

.team {
  margin: 60px 0 100px 0;
}

.team__title {
  font-size: 40px;
  margin-top: 200px;
}

.team__subtitle {
  margin: 25px 0;
}

.team__btn {
  background: #FF7A00;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.team__btn:hover {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scale(1.04);
      -ms-transform: scale(1.04);
          transform: scale(1.04);
}

.team__img {
  width: 560px;
  height: 600px;
  border-radius: 15px;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer {
  background: #000000;
  padding: 100px 0;
}

.footer__top {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 32px 0;
}

.footer__logo {
  padding-top: 15px;
}

.footer__bottom {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__list {
  margin-left: 60px;
}

.footer__list:nth-child(1) {
  margin-left: 0;
}

.footer__description {
  padding: 32px 0;
  color: #fff;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: -0.2px;
}

.footer__item {
  color: #fff;
  padding-bottom: 18px;
}

.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 125px;
}

.footer__input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 6px;
  padding-left: 20px;
  max-width: 224px;
  height: 34px;
  font-size: 18px;
  line-height: 1em;
  border: 1px solid #ffffff;
  border-radius: 10px;
  background: transparent;
}

.footer__input:nth-last-child(2) {
  height: 64px;
  padding-bottom: 20px;
}

.footer__btn {
  margin: 6px 0;
  color: rgba(34, 36, 38, 0.8);
  font-size: 16px;
  background-color: #f1f1f1;
  border-radius: 7px;
  padding: 7px 18px;
}

.ap-hero {
  margin-top: 150px;
}

.ap-hero .hero__title {
  margin-top: 150px;
  margin-bottom: 40px;
}

.ap-hero .hero__img {
  min-width: 944px;
}

.registration {
  margin-bottom: 75px;
  padding-top: 40px;
}

.registration__form {
  padding-bottom: 10px;
  background: #FF7A00;
}

.registration__header {
  background: #222426;
  padding: 15px 0;
}

.registration__title {
  color: #fff;
  font-size: 48px;
  text-align: center;
  font-weight: normal;
}

.registration__subtitle {
  color: #fff;
  font-size: 16px;
  text-align: center;
  width: 372px;
  margin: 40px auto 20px;
  max-width: 90%;
}

.registration__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.registration__input {
  min-width: 372px;
  min-height: 43px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 6px;
  border-radius: 4px;
  padding: 10px 15px;
  color: #777884;
  font-size: 16px;
}

.registration__btn {
  margin: 30px 0;
  color: white;
  background-color: #222426;
}

.registration__description {
  color: #f1f1f1;
  font-size: 14px;
  max-width: 90%;
  margin: 35px auto 0;
  text-align: center;
}

.registration__select {
  min-width: 372px;
  min-height: 43px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 6px;
  border-radius: 4px;
  padding: 10px 15px;
  color: #777884;
  font-size: 16px;
  outline: none;
  border: none;
}

.header__content {
  padding: 20px 0;
}

.header__language {
  overflow-y: hidden;
  height: 29px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
}

.header__language::before {
  position: absolute;
  content: '';
  width: 7px;
  height: 7px;
  border: 2px solid #222426;
  border-top: none;
  border-left: none;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  right: 25px;
  top: 40%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform-origin: top;
      -ms-transform-origin: top;
          transform-origin: top;
}

.header__language__item {
  font-size: 16px;
  color: #454754;
  padding: 10px 45px 0 0;
}

.header__language.drop {
  height: auto;
  overflow-y: auto;
}

.header__language.drop::before {
  -webkit-transform: rotate(-133deg);
      -ms-transform: rotate(-133deg);
          transform: rotate(-133deg);
}

.header__language__item.order {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.partners .hero__content {
  padding-bottom: 8px;
}

.partners .hero__title {
  margin: 0;
}

.partners .hero__subtitle {
  margin-top: 20px;
}

.partners .hero__item {
  text-align: center;
  padding: 0;
  margin: 0 auto;
}

.partners .hero__btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #FF7A00;
  border-radius: 16px;
  padding: 20px 0;
  text-transform: uppercase;
}

.partners .hero__btn:hover {
  -webkit-transform: scale(1.03);
      -ms-transform: scale(1.03);
          transform: scale(1.03);
}

.car {
  margin: 120px 0;
}

.car__content {
  padding: 56px 0 142px 64px;
  background: #FF7A00 url(../../../../img/pagesImg/partners/car.png) no-repeat;
  background-position: 633px 50%;
  background-size: 95% auto;
  border-radius: 15px;
}

.car__title {
  max-width: 61%;
  margin-bottom: 100px;
}

.car__link {
  color: #061813;
  font-family: Sans-serif;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: -0.2px;
  text-decoration: underline;
}

.question {
  min-height: 600px;
}

.question__title {
  margin-bottom: 24px;
}

.question__item {
  position: relative;
  padding: 16px 0;
  font-family: Arial, sans-serif;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.8px;
  cursor: pointer;
  border-bottom: 1px solid #e3e4e8;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.question__item::before {
  content: "+";
  position: absolute;
  top: 0;
  right: 0;
  color: black;
  font-weight: 500;
  font-size: 30px;
  line-height: 1;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.question__item__info {
  color: #454754;
  position: absolute;
  font-family: Arial, sans-serif;
  font-size: 17px;
  line-height: 24px;
  padding: 20px 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
  z-index: -1;
}

.question__link {
  display: block;
  color: #222426;
  padding: 16px 0;
  font-family: Arial, sans-serif;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.8px;
  cursor: pointer;
  border-bottom: 1px solid #e3e4e8;
}

.question__link--green {
  background-color: #33cca1;
  border-radius: 16px;
  border: none;
  margin-top: 10px;
  padding: 14px 0 18px 16px;
}

.question__item.open {
  padding-bottom: 74px;
}

.question__item.open .question__item__info {
  opacity: 1;
}

.question__item.open::before {
  content: "-";
  font-size: 33px;
}

.partners .services__subtitle {
  max-width: 350px;
}

.app {
  margin: 120px 0;
}

.app__content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 573px;
  padding: 56px 64px;
  background: #FF7A00;
  border-radius: 16px;
  position: relative;
}

.app__img {
  position: absolute;
  top: -31px;
  right: -35px;
}

.app__title {
  max-width: 60%;
}

.app__description {
  max-width: 60%;
  margin-top: 40px;
}

.app__row {
  margin-top: 80px;
}

.app__btn {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.app__btn img {
  margin-right: 20px;
  height: 60px;
}

.app__btn:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

@media screen and (max-width: 414px) {
  html, body {
    overflow-x: hidden;
  }
  html.lock {
    overflow-y: hidden;
  }
  .container {
    max-width: 400px;
    margin: 0 auto;
  }
  .col-6, .col-4, .col-3 {
    width: 100%;
  }
  .header__burger {
    display: block;
    right: 25px;
    top: 25px;
  }
  .header__menu {
    position: fixed;
    -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
            transform: translateX(50%);
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #FF7A00;
    width: 100%;
    height: 100vh;
    margin: 0;
    top: 0;
    z-index: 9;
  }
  .header__menu.active {
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
  }
  .header__link {
    font-size: 32px;
    line-height: 70px;
  }
  .header__link::before {
    display: none;
  }
  .header__left, .header__right {
    display: none;
  }
  .hero {
    margin-top: 100px;
  }
  .hero__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
  }
  .hero__item {
    padding: 0;
  }
  .hero__title {
    margin-top: 0;
  }
  .hero__img {
    margin-top: 50px;
    max-width: 400px;
  }
  .mobile__content {
    padding: 0;
  }
  .mobile__title {
    font-size: 40px;
    padding-top: 10px;
    text-align: center;
  }
  .mobile__list {
    padding-bottom: 30px;
  }
  .mobile__apple {
    padding-left: 35px;
  }
  .mobile__img {
    display: none;
  }
  .services {
    margin-bottom: 0;
  }
  .services__item {
    padding-bottom: 50px;
  }
  .team__content {
    text-align: center;
  }
  .team__title {
    margin-top: 30px;
  }
  .team__img {
    margin-top: 30px;
    width: 400px;
    height: 250px;
  }
  .partners .hero__title {
    max-width: 300px;
    margin: 0 auto;
  }
  .partners .hero .pr-title {
    font-size: 40px;
    padding-top: 25px;
  }
  .partners .services__subtitle {
    max-width: 100%;
  }
  .partners .car__content {
    background-position: 155px 50%;
  }
}

@media screen and (max-width: 375px) {
  .container {
    max-width: 360px;
    margin: 0 auto;
  }
  .hero {
    margin-bottom: 130px;
  }
  .hero__title {
    font-size: 45px;
  }
  .hero__subtitle {
    font-size: 18px;
  }
  .hero__img {
    max-width: 350px;
  }
  .mobile__title {
    font-size: 35px;
  }
  .mobile__apple {
    padding-left: 15px;
  }
  .mobile__google {
    margin-left: 15px;
  }
  .team__title {
    font-size: 35px;
  }
  .team__img {
    width: 350px;
  }
}

@media screen and (max-width: 320px) {
  .container {
    max-width: 300px;
    margin: 0 auto;
  }
  .hero {
    margin-top: 50px;
  }
  .hero__title {
    font-size: 30px;
    line-height: 35px;
  }
  .hero__btn {
    font-size: 15px;
    width: 180px;
    height: 50px;
  }
  .hero__img {
    max-width: 300px;
  }
  .mobile__title {
    font-size: 30px;
    line-height: 30px;
    padding-top: 30px;
  }
  .mobile__apple {
    padding-left: 5px;
  }
  .mobile__google {
    margin-left: 0;
  }
  .mobile__apple, .mobile__google {
    max-width: 144px;
  }
  .team__title {
    margin-top: 0;
    font-size: 30px;
    line-height: 40px;
  }
  .team__img {
    margin-top: 40px;
    max-width: 300px;
  }
}
