body {
  margin: 0;
  padding: 0;
  font-family: "Open-sans", sans-serif;
}

a {
  text-decoration: none;
  display: inline-block;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

button {
  outline: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

span {
  display: inline-block;
}

input {
  outline: none;
  border: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.col-6 {
  width: 50%;
}

.col-4 {
  width: 33.33%;
}

.col-3 {
  width: 25%;
}

.title {
  color: #222426;
  font-size: 50px;
  font-weight: 300;
  line-height: 55px;
  letter-spacing: -0.8px;
}

.subtitle {
  color: #454754;
  font-size: 20px;
  font-weight: 300;
  line-height: 27px;
  letter-spacing: -0.2px;
}

.btn {
  color: #292200;
  background-color: #ffe03b;
  border-radius: 16px;
  padding: 16px 40px;
}

.btn-grey {
  color: rgba(34, 36, 38, 0.8);
  font-size: 16px;
  background-color: #f1f1f1;
  border-radius: 7px;
  padding: 12px 16px;
}

.header {
  margin: 0 16px;
}

.header__content {
  margin-top: 20px;
}

.header__logo {
  padding-top: 10px;
}

.header__middle {
  padding-top: 10px;
  margin-left: 212px;
}

.header__link {
  font-size: 16px;
  color: #454754;
  margin: 0 12px;
}

.header__right {
  margin-left: 650px;
}

.header__lang {
  position: relative;
  font-size: 16px;
  color: #454754;
  padding: 10px 45px 0 0;
}

.header__lang::before {
  position: absolute;
  content: '';
  width: 7px;
  height: 7px;
  border: 2px solid #222426;
  border-top: none;
  border-left: none;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  right: 25px;
}

.hero {
  margin: 64px 0 120px 0;
}

.hero__title {
  margin: 250px 0 24px 0;
}

.hero__item {
  padding: 0 120px 0 64px;
}

.hero__subtitle {
  margin-bottom: 48px;
}

.hero__img {
  max-width: 944px;
  max-height: 697px;
  border-radius: 15px;
}

.mobile {
  margin-bottom: 120px;
}

.mobile__content {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 56px 64px;
  width: 100%;
  height: 566px;
  background: #ffe03b;
  border-radius: 15px;
}

.mobile__title {
  max-width: 455px;
}

.mobile__list {
  padding: 24px 0 62px 0;
}

.mobile__item {
  position: relative;
  padding: 12px 0 16px 46px;
  color: #222426;
  font-size: 20px;
  letter-spacing: -0.2px;
}

.mobile__item::before {
  position: absolute;
  content: '';
  width: 48px;
  height: 48px;
  background: url(../../img/mobile/bullet-check-icon-1.svg) no-repeat;
  top: 0;
  left: 0;
}

.mobile__img {
  position: absolute;
  top: -37px;
  right: 45px;
  width: 444px;
  height: 649px;
}

.mobile__apple {
  width: 144px;
  height: 48px;
}

.mobile__google {
  margin-left: 16px;
  width: 168px;
  height: 48px;
}

.services__title {
  padding: 32px 0 24px 0;
  color: #222426;
  font-size: 32px;
  line-height: 35px;
  letter-spacing: -1px;
}

.services__subtitle {
  color: #454754;
  font-size: 17px;
  line-height: 24px;
}

.services__description {
  text-align: center;
  margin-top: 60px;
  color: #73757e;
  font-size: 11px;
  line-height: 14px;
}

.team {
  margin-top: 60px;
}
