.loading {
    display: flex;
    position: absolute;
    z-index: 10;
    height: 100Vh;
    width: 100%;
    top: 0;
    left: 0;
    margin: 0;
    pointer-events: none;
    &__item {
        transform: scaleY(0);
        background: $orange;
        width: 20%;
    }
}
