.profit {
    background: url(../../../../../img/pagesImg/autopark/profitbg.png) no-repeat center bottom;
    background-size: cover;
    min-height: 800px;
    &__title {
        margin: 50px 0 10px 0;
        font-size: 32px;
        &::before{
            background: url(../../../../../img/pagesImg/autopark/03.png) no-repeat center;
        }
    }
    &__list {
        list-style: url(../../../../../img/pagesImg/autopark/check.png);
    }
    &__item {
        color: $black;
        font-size: 20px;
        padding: 25px 0;
        span{
            font-weight: 700;
        }
    }
    &__btn{
        margin-top: 250px;
    }
}

