.hero {
    margin: 94px 0 0 0;
    &__content {
        overflow-x: hidden;
    }
    &__title {
        margin: 250px 0 24px 0;
    }
    &__item:not(:last-child) {
        padding: 0 120px 0 64px;
    }
    &__subtitle {
        margin-bottom: 48px;
    }
    &__img {
        max-width: 944px;
        max-height: 697px;
        border-radius:15px;
    }
    &__btn {
        font-size: 20px;
    }
}