.app {
    margin: 120px 0;
		&__content {
            box-sizing: border-box;
            height: 573px;
            padding: 56px 64px;
            background: $orange;
            border-radius: 16px;
            position: relative;
		}
		&__img {
                  position: absolute;
                  top: -31px;
                  right: -35px;
		}
		&__title {
                  max-width: 60%;
		}
		&__description {
                  max-width: 60%;
                  margin-top: 40px;
            }
            &__row{
                  margin-top: 80px;
            }
		&__btn {
                  transition: 0.3s;
            img{
                margin-right: 20px;
                height: 60px;
            }
            &:hover{
                  transform: scale(1.05);
            }
	}
}

