.car {
    margin: 120px 0;
		&__content {
            padding: 56px 0 142px 64px;
            background: $orange url(../img/pagesImg/partners/car.png) no-repeat;
            background-position: 633px 50%;
            background-size: 95% auto;
            border-radius: 15px;
		}
		&__title {
            max-width: 61%;
            margin-bottom: 100px;
		}
		&__link {
            color: #061813;
            font-family: Sans-serif;
            font-size: 20px;
            line-height: 27px;
            letter-spacing: -0.2px;
            text-decoration: underline;
		}
}

