.partners{
    .hero__content{
        padding-bottom: 8px;
    }
    .hero__title{
        margin: 0;
    }
    .hero__subtitle{
        margin-top: 20px;
    }
     .hero__item{
        text-align: center;
        padding: 0;
        margin: 0 auto;
    }
    .hero__btn{
        box-sizing: border-box;
        background: $orange;
        border-radius: 16px;
        padding: 20px 0;
        text-transform: uppercase;
        &:hover{
            transform: scale(1.03);
        }
    }
}