.header{
    &__content{
        padding: 20px 0;
    }
    &__language{
        overflow-y: hidden;
        height: 29px;
        transition: 0.3s;
        position: relative;
        display: flex;
        flex-direction: column;
        cursor: pointer;
        &::before{
            position: absolute;
            content:'';
            width: 7px;
            height: 7px;
            border: 2px solid $black;
            border-top: none;
            border-left: none;
            transform: rotate(45deg);
            right: 25px;
            top: 40%;
            transition: 0.3s;
            transform-origin: top;
        }
        &__item{
            font-size: 16px;
            color:$grey;
            padding: 10px 45px 0 0;
        }
    }
}
.header__language.drop{
    height: auto;
    overflow-y: auto;
    &::before{
        transform: rotate(-133deg);
    }
}
.header__language__item.order{
    order: -1;
}