.partners {
    .hero__content{
            padding-bottom: 8px;
        }
    .hero__title {
        margin: 0 auto;
    }
    .hero__subtitle{
        margin-top: 20px;
    }
    .hero__item{
        text-align: center;
        padding: 0;
        margin: 0 auto;
    }
    .hero__btn{
        box-sizing: border-box;
        text-transform: uppercase;
    }
}