.team {
    margin: 60px 0 100px 0;
    &__title {
        font-size: 40px;
        margin-top: 200px;
    }
    &__subtitle {
        margin: 25px 0;
    }
    &__img {
        width: 560px;
        height: 600px;
        border-radius: 15px;
        object-fit: cover;
    }
}