.footer {
    background: #000000;
    padding: 100px 0;
    &__top {
        justify-content: space-between;
        padding: 32px 0;
    }
    &__logo {
        padding-top: 15px;
    }
    &__bottom {
        justify-content: space-between;
    }
    &__list {
        margin-left: 60px;
        &:nth-child(1) {
            margin-left: 0;
        }
    }
    &__description {
        padding: 32px 0;
        color: #fff;
        font-size: 20px;
        line-height: 27px;
        letter-spacing: -0.2px;
    }
    &__item {
        color: #fff;
        padding-bottom: 18px;
    }
    &__form {
        display: flex;
        flex-direction: column;
        margin-left: 125px;
    }
    &__input {
        box-sizing: border-box;
        margin-bottom: 6px;
        padding-left: 20px;
        max-width: 224px;
        height: 34px;
        font-size: 18px;
        line-height: 1em;
        border: 1px solid #ffffff;
        border-radius: 10px;
        background:transparent;
        &:nth-last-child(2) {
            height: 64px;
            padding-bottom: 20px;
        }
    }
    &__btn {
        margin: 6px 0;
        color: rgba(34,36,38,.8);
        font-size: 16px;
        background-color:#f1f1f1;
        border-radius: 7px;
        padding: 7px 18px; 
    }
}

