.header {
    margin: 0 16px;
    &__content {
        justify-content: space-around;
        margin-top: 20px;
    }
    &__logo {
        padding-top:10px;
    }
    &__middle {
        padding-top: 10px;
    }
    &__item {
        margin: 0 10px;
    }
    &__link {
        position: relative;
        font-size: 16px;
        color:$grey;
        margin: 0 12px;
        &::before {
            content: "";
            position: absolute;
            left: -1;
            bottom: -10px;
            width: 0;
            height: 1px;
            background: $black;
            transition: 0.3s;
        }
        &:hover::before {
            width: 100%;
        }
        &:hover {
            color:$black;
        }
    }
    &__lang {
        position: relative;
        font-size: 16px;
        color:$grey;
        padding: 10px 45px 0 0;
        &::before {
            position: absolute;
            content:'';
            width: 7px;
            height: 7px;
            border: 2px solid $black;
            border-top: none;
            border-left: none;
            transform: rotate(45deg);
            right: 25px;
        }
    }
}

 