.hero {
    margin: 94px 0 150px 0;
    &__title {
        margin: 250px 0 24px 0;
    }
    &__item {
        padding: 0 120px 0 64px;
    }
    &__subtitle {
        margin-bottom: 48px;
    }
    &__img {
        max-width: 944px;
        max-height: 697px;
        border-radius:15px;
    }
    &__btn {
        font-size: 20px;
        color:$black;
        width: 230px;
        height: 62px;
        transition: 0.3s;
        &:hover {
            transition: 0.3s;
            transform: scale(1.05);
        }
    }
}