.team {
    margin: 60px 0 100px 0;
    &__title {
        margin: 130px 0 50px 0;
    }
    &__btn {
        background: $orange;
        transition: 0.3s;
        &:hover{
            transition: 0.3s;
            transform: scale(1.05);
        }
    }
    &__img {
        width: 560px;
        height: 600px;
        border-radius: 15px;
    }
}