@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
html{
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
}
a{
    text-decoration: none;
    display: inline-block;
}
h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    padding: 0;
}
button {
    outline: none;
    border: none;
    padding: 0;
    cursor: pointer;
}
span{
    display: inline-block;
}
input{
    outline: none;
    border: none;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}